@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
.about-me{
    font-family: 'Poppins', sans-serif;
    
}
.about-me-header{
    font-weight: 700;
}
.img-container-about-me{
    padding: 20px;
}
.img-container-about-me img{
    border-radius: 10px;
    /* height: 350px;
    width: 280px; */
}

.content-container-about-me{
    padding: 20px;
}

@media screen and (min-width: 480px) {
    .img-container-about-me img{
        height: 350px;
        width: 280px;
    }
  }