@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
.container-style{
    font-family: 'Poppins', sans-serif;
}

.skill-title{
    font-weight: 600;
}

.skill-progress li{
    display: inline-block;
}

.skill-card{
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.mini-card{
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.icon-bar{
    transition: transform 0.2s ease-in-out;
}
.icon-bar:hover{
    transform: scale(1.2);
}

.icon-bar,.title-bar{
    padding: 15px;
}
.icon-bar i{
    font-size: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.icon-bar p{
    margin-bottom: 0 !important;
}



@media (max-width: 680px) {
    .skill-mini-card{
        flex-direction: column;
    }
    .languages-icon{
        display: flex;
        flex-wrap: wrap;
    }
    .languages-icon>*{
        flex: 1 1 360px;
    }
  }