
.navbar-style{
    background-color: #7844E9 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.nav-text{
    color: white !important;
}
.image{
    margin-top: 50px;
    margin-right: 20px;
}
.img-style{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border:2px solid 7844E9;
    transition: transform 0.2s ease-in-out;
    
}
.img-style:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.2);
   
}

.banner-container{
    margin-top: 100px;
    background-repeat: no-repeat;
    background-image: url('../../images/cover-2.svg');
    height: 400px;
}

.banner-content{
    margin-top: -310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-left: 20px;
}

.wrapper .static-txt{
    color: #7844E9;
    font-size: 40px;
    font-weight: 400;

}
.wrapper .static-txt h1{
    font-size: larger;
}


.btn-contact{
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    background-color: #7844E9;
    color: white;
    border-radius: 5px;
    margin-left: 45px;
    text-decoration: none;
}
.btn-contact:active{
    background-color: #6b30eb; 
}
a:hover{
    color: white;
}
@media (max-width: 680px) {
    .banner-content{
        display: flex;
        flex-direction: column;
        margin-top: 225px;
    }
    .wrapper .static-txt h1{
        font-size: smaller;
    }
    .banner-container{
        margin-top: 100px;
        background-repeat: no-repeat;
        background-image: url('../../images/cover-2.svg');
        height: 550px;
    }
    .wrapper{
        margin-top: -530px;
    }
  }

 