.navbar-style{
    position: fixed;
    height:100%;
}

.left-container{
    display: block !important;
}
.left-pro-image{
    margin-top: 50px;
    width: 180px;
    height: 180px;
}
.left-button{
    flex-direction: column !important;
}
.left-btn-grp{
    display: flex;
    flex-direction: column;
}

.btn-hashlink{
    margin: 10px;
}

@media screen and (max-width: 480px) {
    .navbar-style {
      position: relative;
      height:unset;
    }
  }