/* .banner-style{
    background: url('../../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    height: 100%;
    z-index: 1;
    position: fixed;
} */

.btn-download-resume{
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    background-color: #7844E9;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a:hover{
    color: white;
}
.btn-download-resume:active{
    background-color: #5f1cf0;
}

.my-name h1{
    /* font-size: 80px; */
    font-weight: 700;
}
.auto-type-design{
    font-size: 30px;
    font-weight: 400;
    color: rgb(238, 175, 16);
}
.banner-img{
    /* height: 200px; */
}